[Unit]
Description=Grin Node
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=grin
Group=grin
ExecStart=/usr/local/bin/grin server run
WorkingDirectory=/home/grin
Restart=on-failure
RestartSec=10

# Hardening
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
