@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.Grin.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers

<li class="nav-item">
    <a asp-controller="UIGrin" asp-action="Settings" class="nav-link @ViewData.IsActivePage(GrinNavPages.Settings)">
        <span>Grin</span>
    </a>
</li>
